<div class="container-fluid">
    <div class="row d-flex align-items-center fondo-page3 p-2">
        <div class="col-sm-4 text-center" id="certificados">
            <img src="assets/images/icono-certificado.png" alt="Certificado">
            <h2>Certificados</h2>
        </div>
        <div class="col-sm-4 text-center" id="web">
            <div class="card m-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img src="assets/images/certificado1.png" class="img-fluid" alt="Argentina Programa">
                        </div>
                    </div>
                    <div class="row font-amarillo">
                        <h4>Se Programar</h4>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 text-center" id="web">
            <div class="card m-2">
                <div class="card-body">
                    <img src="assets/images/certificado2.png" class="img-fluid" alt="Desarrollo Web 1">
                    <h4 class="font-amarillo">Desarrollo Web 1</h4>
                </div>    
            </div>

        </div>

    </div>
        <div class="row d-flex align-items-center justify-content-center fondo-page3" id="web">
            <div class="col-sm-4 text-center">
                <div class="card m-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <img src="assets/images/certificado4.png" class="img-fluid" alt="Ad Expert Digital Publicidad">
                            </div>
                        </div>
                        <div class="row font-amarillo">
                            <h4>ABC de Publicidad de Videos Digitales</h4>

                        </div>
                    </div>
                </div>
            </div> 
        </div>         
</div>