<footer>
    <div class="container-fluid">
        <div class="row fondo-page3">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col">
                        <h2>Contácto</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/images/icono-facebook.svg" class="img-fluid" alt="Icono de Facebook">
                        <h6>
                            <a class="color-link" href="https://www.facebook.com/alejandro.luboszyc">Facebook</a>
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/images/icono-instagram.svg" class="img-fluid" alt="Icono de Instagram">
                        <h6>
                            <a class="color-link" href="https://www.instagram.com/martintotora/?hl=es-la">Instagram</a>
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/images/icono-email.svg" class="img-fluid" alt="Icono de Email">
                        <h6>martinaleluboszyc@gmail.com</h6>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col">
                        <img src="assets/images/logo.png" class="imgRedonda" class="img-fluid" alt="Icono Mio2">
                    </div>
                </div>

            </div>
                <div class="col-sm-4 align-self-end">
                    <h6>Todos los Derechos Reservados - 2022</h6>
    
                </div>
    

        </div>  


    </div>     
</footer>