<div class="container-fluid m-1">
    <div class="row fondo-page2">
        <div class="col-sm-6">               
            <div class="card">
                <div class="card-body">
                    <div class="row text-star p-2" id="estudios">
                        <img src="assets/images/icono-estudios.png" alt="Imagen de Estudios">
                        <h2>Estudios</h2>
                    </div>
                    <div class="row p-2" id="estudios">
                        <img src="assets/images/arg-programa.jpg" alt="Imagen de Formación">
                    </div>
                    <div class="row p-2" id="estudios1">
                        <img src="assets/images/icono-universidad.png" alt="Imagen de Formación">
                    </div>
                    <div class="row p-2" id="estudios">
                        <img src="assets/images/icono-uni-chile.png" alt="Imagen de Formación">
                    </div>
                    <div class="row p-2" id="estudios">
                        <img src="assets/images/icono-addegree.svg" alt="Imagen de Formación">
                    </div>
                    <div class="row p-2" id="estudios">
                        <img src="assets/images/icono-google.png" alt="Imagen de Formación">
                    </div>
                    <div class="row p-2" id="estudios">
                        <img src="assets/images/icono-edx.png" alt="Imagen de Formación">
                    </div>
                </div>
            </div>
        </div>
 

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="rowctext-star p-2" id="habilidades">
                        <img src="assets/images/icono-habilidades.png" alt="Imagen de Skills">
                        <h2>Skills</h2>
                    </div>
                    <div class="col-3 text-center">
                        <img src="assets/images/icono-python.png" class="img-fluid" alt="Icono de Python">
                        <h6>Python</h6>                      
                    </div>
                    <div class="col-3 text-center">
                        <img src="assets/images/icono-html.png" class="img-fluid" alt="Icono de HTML">
                        <h6>HTML5</h6>                      
                    </div>
                    <div class="col-3 text-center">
                        <img src="assets/images/icono-angular.png" class="img-fluid" alt="Icono de Angular">
                        <h6>Angular</h6>                      
                    </div>
                    <div class="col-3 text-center">
                        <img src="assets/images/icono-css.svg" class="img-fluid" alt="Icono de CSS3 Vainilla">
                        <h6>CSS3 Vainilla</h6>                      
                    </div>                    
                </div>

                <div class="row">
                    <div class="col-4 text-center">
                        <img src="assets/images/icono-boot.svg" class="img-fluid" alt="Bootstrap">
                        <h6>Bootstrap</h6>                      
                    </div>
                    <div class="col-4 text-center">
                        <img src="assets/images/icono-javascript.png" class="img-fluid" alt="Javascript">
                        <h6>Javascript</h6>                      
                    </div>
                    <div class="col-4 text-center">
                        <img src="assets/images/icono-sass.svg" class="img-fluid" alt="SaSS">
                        <h6>SaSS</h6>                      
                    </div>
                </div>

                <div class="row m-5">
                    <div class="col-3 text-center">
                        <img src="assets/images/icono-figma.svg" class="img-fluid" alt="Figma">
                        <h6>Figma</h6>                      
                    </div>
                    <div class="col-3 text-center">
                        <img src="assets/images/icono-mysql.png" class="img-fluid" alt="Mysql">
                        <h6>Mysql</h6>                      
                    </div>
                    <div class="col-6 text-center">
                        <img src="assets/images/icono-visual.png" class="img-fluid" alt="Visual studio code">
                        <h6>Visual studio code</h6>                                   
                    </div>
                </div>

                </div>

            </div>

        </div>


    </div>
</div>    