<div class="container-fluid m-2">
    <div class="row fondo-page4 d-flex align-items-center">
        <div class="col-sm-4 text-center" id="practicas">
            <img src="assets/images/icono-proyecto.png" class="img-fluid" alt="Practicas">
            <h2>Prácticas</h2>
        </div>
        <div class="col-sm-4" id="web">
            <img src="assets/images/web1.jpg" class="img-fluid" alt="Imagen Web1">
        </div>
        <div class="col-sm-4" id="web">
            <img src="assets/images/web2.jpg" class="img-fluid" alt="Imagen Web2">
        </div>

    </div>
    <div class="row justify-content-end" id="web">
        <div class="col-sm-4">
            <img src="assets/images/web3.png" class="img-fluid" alt="Imagen Web3">
        </div>
        <div class="col-sm-4">
            <img src="assets/images/web4.png" class="img-fluid" alt="Imagen Web3">
        </div>

    </div>
</div>       
