<div class="container-fluid">
    <div class="row fondo-page1">
        <div class="col">
            <div class="row">
                <div class="col-6 align-self-center">
                    <div class="row">
                        <h1>Mi Nombre es</h1>
                    </div>
                    <div class="row">
                        <h1>Martín Alejandro Luboszyc</h1>
                    </div>
                    <div class="row">
                        <h2>Soy Desarrollador FronEnd Junior</h2>
                    </div>
                    <div class="row-10 espacio-superior d-flex justify-content-center">
                        <a type="button" class="btn color-primario btn-lg" href="https://github.com/AleLuboszyc">Github</a>
                    </div>
                </div>
                    <div class="col align-items-end p-2">    
                        <img src="assets/images/perfil2.png" class="img-redonda-perfil" class="img-fluid" alt="Foto Perfil">    
                    </div>                                      
            </div>
        </div> 
    </div>
</div>  
